body{
    background: url(../img/progra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: antiquewhite;
    background-color: #000000;
}

.content{

    text-align: center;
}
.content ul{
    list-style: none;
}

h1{
    background-color: transparent;

}